@charset "UTF-8";

body {
	margin: 90px 0 0 0;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 90px;
	background-color: #66FF99;
	z-index: 100;
}

header h1 a {
	color: #FFFFFF;
	text-decoration: none;
	font-family: 'Zen Loop', cursive;
	letter-spacing: 15px;
}

header a {
	color: #000000;
	text-decoration: none;
}

header .inner {
	width: 1000px;
	margin: 0 auto;
	display: flex;
}

header .inner .headerMenu {
	list-style: none;
	margin: 0;
	margin-left: auto;
	padding: 0;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}

header .inner .headerMenu li {
	/* 	display: inline-block; */
	margin: 10px;
	margin-top: 0px;
	padding: 10px;
	margin-top: 10px;
}

.headerButton {
	background-color: #993300;
	color: #FFFFFF;
	box-sizing: border-box;
	padding: 10px;
	text-decoration: none;
	display: block;
	border-radius: 5px;
	border-bottom: 5px solid #FFC7AF;
	margin-top: 0px;
	transition-duration: 0.2s;
}

.headerButton:hover {
	margin-top: 3px;
	border-bottom: 2px solid #FFC7AF;
}

footer {
	text-align: center;
	background-color: #66FF99;
}

footer p {
	margin: 0;
	padding: 10px;
}

.stopButton {
	color: white;
	background-color: red;
	text-decoration: none;
	padding: 3px 8px;
	border-radius: 15px;
	border: 2px solid red;
	transition-duration: 0.2s;
}

.stopButton:hover {
	background-color: #FFFFFF;
	color: red;
}

.startButton {
	color: white;
	background-color: black;
	text-decoration: none;
	padding: 3px 8px;
	border-radius: 15px;
	border: 2px solid black;
	transition-duration: 0.2s;
}

.startButton:hover {
	background-color: #FFFFFF;
	color: black;
}

.inner {
	width: 800px;
	margin: 0 auto;
}

.breadcrumb {
	border-bottom: 1px solid green;
	background-color: #E6FFE9;
}

.breadcrumb a {
	color: green;
	text-decoration: none;
}

.breadcrumb a:hover {
	text-decoration: underline;
}

.breadcrumb  .inner ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding: 3px 0px;
}

.breadcrumb .inner ul li {
	display: inline-block;
}

.breadcrumb .inner ul li {
	padding: 0 20px;
	position: relative;
}

.breadcrumb .inner ul li:first-child {
	padding-left: 0px;
}

.breadcrumb .inner ul li:first-child ::before {
	content: "\f015";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	padding-right: 8px;
}

.breadcrumb .inner ul li::after {
	content: "\f105";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position: absolute;
	right: -10px;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.breadcrumb .inner ul li:last-child::after {
	content: "";
}

.userFormWrap {
	width: 600px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.userFormWrap .title {
	margin: 0;
	margin-top: 10px;
}

.userFormWrap .checkLengthBox {
	margin: 0;
	text-align: right;
}

.textBox {
	width: 100%;
	padding: 10px;
	border-color: #BBBBBB;
	font-size: 18px;
}

.userFormWrap .selectBox {
	padding: 10px;
	border-color: #BBBBBB;
	font-size: 18px;
}

.userFormWrap .userSubmitButton {
	border: 0px;
	background-color: #993300;
	color: #FFFFFF;
	box-sizing: border-box;
	padding: 10px;
	text-decoration: none;
	display: block;
	border-radius: 5px;
	border-bottom: 5px solid #FFC7AF;
	margin-top: 0px;
	transition-duration: 0.2s;
	width: 100px;
	margin-top: 30px;
}

.userFormWrap .userSubmitButton:hover {
	margin-top: 33px;
	border-bottom: 2px solid #FFC7AF;
}

.toTop {
	display: none;
	transition-duration: 0.2s;
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 60px;
	right: 30px;
	background-color: #993300;
	border-radius: 5px;
	border-bottom: 5px solid #FFC7AF;
	font-size: 30px;
	color: #FFC7AF;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	cursor: pointer;
	transition-duration: 0.2s;
	position: fixed;
}

.toTop:hover {
	background-color: #FFC7AF;
	color: #993300;
	border-bottom: 5px solid #993300;
}

.message {
	border: 1px solid #000000;
	width: 600px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 30px;
	padding-bottom: 20px;
	border-radius: 10px;
	margin-bottom: 10px;
	position: relative;
	border-radius: 10px;
}

.message p {
	margin: 0;
}

.message .title {
	font-size: 25px;
}

.message .text {
	white-space: pre-wrap;
	color: #222222;
}

.message .category {
	position: absolute;
	top: -20px;
	left: -20px;
	padding: 8px;
	background-color: #993300;
	color: #FFFFFF;
	border-radius: 5px;
}

.message .category:before {
	content: "\f07b";
	font-family: "Font Awesome 5 Free";
	font-weight: 400;
	padding-right: 8px;
}

.dateUser {
	display: flex;
	color: #AAAAAA;
}

.message .user {
	margin-left: 10px;
}

.message .user:before {
	content: "\f007";
	font-family: "Font Awesome 5 Free";
	font-weight: 400;
	padding-right: 8px;
}

.message .date {
	color: #AAAAAA;
}

.message .date:before {
	content: "\f017";
	font-family: "Font Awesome 5 Free";
	font-weight: 400;
	padding-right: 8px;
}

.message .messageDelete {
	position: absolute;
	top: 10px;
	right: 10px;
}

.message .messageDelete:before {
	content: "\f017";
	font-family: "Font Awesome 5 Free";
	font-weight: 400;
	padding-right: 8px;
}

.message .commentDate {
	font-size: 15px;
}

.message .commentTitle {
	font-size: 18px;
}

.message .commentTextArea {
	width: 100%;
	height: 50px;
}

.message .userSubmitButton {
	border: 0px;
	background-color: #993300;
	color: #FFFFFF;
	box-sizing: border-box;
	padding: 10px;
	text-decoration: none;
	display: block;
	border-radius: 5px;
	border-bottom: 5px solid #FFC7AF;
	margin-top: 0px;
	transition-duration: 0.2s;
	width: 100px;
	margin-top: 8px;
	margin-left: auto;
}

.message .userSubmitButton:hover {
	margin-top: 11px;
	border-bottom: 2px solid #FFC7AF;
}

.message .comment {
	position: relative;
}

.message .comment:hover {
	background-color: #EEEEEE;
}

.message .comment .commentDeleteBtn {
	position: absolute;
	top: 10px;
	right: 10px;
}

.searchFormWrap {
	text-align: center;
	padding: 20px 0 10px 0;
}

.searchFormWrap form {
	display: inline-block;
	text-align: center;
	padding: 0px 10px;
}

.errorMessages {
	text-align: center;
	color: red;
}