@charset "UTF-8";

body {
	margin: 90px 0 0 0;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 90px;
	background-color: #66FF99;
}

header h1 a {
	color: #FFFFFF;
}

header .inner {
	width: 800px;
	margin: 0 auto;
	display: flex;
}

header .inner .headerMenu {
	list-style: none;
	margin: 0;
	margin-left: auto;
	padding: 0;
	margin-top: 10px;
}

header .inner .headerMenu li {
	display: inline-block;
	margin: 10px;
	padding: 10px;
}

.headerButton {
	background-color: red;
	color: #FFFFFF;
	box-sizing: border-box;
	padding: 10px;
	text-decoration: none;
	display: block;
	margin-top: 3px;
	border-radius: 5px;
}

footer {
	text-align: center;
	background-color: #66FF99;
}

footer p {
	margin: 0;
	padding: 10px;
}

.stopButton {
	color: white;
	background-color: red;
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 15px;
}

.startButton {
	color: white;
	background-color: black;
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 15px;
}