<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TreeMouth</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

</head>
<body>
	<header th:fragment="header">
		<div class="inner">
			<h1>
				<a th:href="@{'/treeMouth'}">TreeMouth</a>
			</h1>
			<ul class="headerMenu">
				<th:block th:if="${#session}!=null">
					<th:block th:if="${#session.getAttribute('loginUser')}!=null">

						<li><a th:href="@{'/treeMouth/message'}">新規投稿 </a></li>

						<th:block
							th:if="${#session.getAttribute('loginUser').brancheId}==1">
							<th:block
								th:if="${#session.getAttribute('loginUser').departmentId}==1">
								<li><a th:href="@{'/treeMouth/user'}">ユーザー管理</a></li>
								<li><a th:href="@{'/treeMouth/signUp'}">ユーザー新規登録</a></li>
							</th:block>
						</th:block>
						<li><a th:href="@{'/treeMouth/logout'}" class="headerButton">ログアウト</a></li>
					</th:block>
					<li th:if="${#session}==null"><a th:href="@{'login'}"
						class="headerButton">ログイン</a></li>
				</th:block>
			</ul>
			<div class="toTop">▲</div>
		</div>
	</header>

	<footer th:fragment="footer">
		<p>CopyRight</p>
	</footer>

</body>
</html>