<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link
	href="https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap"
	rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<script type="text/javascript" th:src="@{/js/user.js}"></script>

</head>
<body>
	<div th:replace="common :: header"></div>
	<th:block th:if="${#session}!=null">
		<th:block th:if="${#session.getAttribute('errorList')}!=null">
			<div class="errorMessages">
				<div id="errorMessage" name="errorMessage">
					<p th:each="errorMessage : ${#session.getAttribute('errorList')}"
						th:text="${errorMessage}"></p>
				</div>
			</div>
		</th:block>
		<th:block th:text="${#session.removeAttribute('errorList')}">
		</th:block>
	</th:block>
	<div class="errorMessages">
		<div id="errorMessage" name="errorMessage">
			<p th:each="errorMessage : ${errorMessages}"
				th:text="${errorMessage}"></p>
		</div>
	</div>
	<div class="loginFormWrap">
		<div class="loginFormInner">

			<form method="post" action="/login" th:object="${formModel}">
				<div>
					<p>アカウント</p>
					<input type="text" name="account" th:value="*{account}" class="box" />
				</div>
				<div>
					<p>パスワード</p>
					<input type="password" name="password" th:value="*{password}"
						class="box" />
				</div>
				<input type="submit" value="ログイン" class="userSubmitButton" />
			</form>
		</div>
	</div>
	<div th:replace="common :: footer"></div>

</body>
</html>

<style>
body {

}

.loginFormWrap {
	height: calc(100vh - 134px);
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-flex;
	background-color: #FFF5EE;
}

.loginFormInner {
	height: 400px;
	width: 400px;
	border: 6px solid #993300;
	background-color: #FFFFFF;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-flex;
	border-radius: 30px;
}

.toTop {
	display: none;
}

.loginFormInner .userSubmitButton {
	border: 0px;
	background-color: #993300;
	color: #FFFFFF;
	box-sizing: border-box;
	padding: 10px;
	text-decoration: none;
	display: block;
	border-radius: 5px;
	border-bottom: 5px solid #FFC7AF;
	margin-top: 0px;
	transition-duration: 0.2s;
	width: 100px;
	margin-top: 30px;
}

.loginFormInner .userSubmitButton:hover {
	margin-top: 33px;
	border-bottom: 2px solid #FFC7AF;
}

.loginFormInner p {
	font-size: 25px;
}

.loginFormInner .box {
	font-size: 25px;
}
</style>