<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新規投稿</title>

<link
	href="https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" th:src="@{/js/user.js}"></script>

</head>
<body>
	<div th:replace="common :: header"></div>

	<div class="breadcrumb">
		<div class="inner">
			<ul>
				<li><a th:href="@{'/treeMouth'}">Home</a></li>
				<li>新規投稿</a></li>
			</ul>
		</div>
	</div>
	<div class="inner">
		<h2>新規投稿</h2>
		<table>
			<tr th:if="${validationError}" th:each="error : ${validationError}">
				<td style="color: red;" th:text="${error}"></td>
			</tr>
		</table>
		<div class="messageFormWrap">
			<form method="post" action="/addMessage" th:object="${messageModel}">
				<div>
					<p class="title">件名</p>
					<input type="text" name="title" th:field="*{title}" class="textBox"
						onkeyup="showLength(value,'titleBox',1,30)" />
					<p class="titleBox checkLengthBox" style="color: red">0/30</p>
				</div>
				<div>
					<p class="title">カテゴリー</p>
					<input type="text" name="category" th:field="*{category}"
						class="textBox" onkeyup="showLength(value,'categoryBox',1,10)" />
					<p class="categoryBox checkLengthBox" style="color: red">0/10</p>
				</div>
				<div>
					<p class="title">本文</p>
					<textarea name="text" th:field="*{text}" class="textBox textArea"
						onkeyup="showLength(value,'contentBox',1,1000)"></textarea>
					<p class="contentBox checkLengthBox" style="color: red">0/1000</p>
				</div>

				<input type="submit" value="投稿" class="userSubmitButton" />
			</form>
		</div>
	</div>

	<div th:replace="
					common ::footer"></div>
</body>
</html>


<style>
.messageFormWrap .title {
	margin: 0;
	margin-top: 10px;
}

.textArea {
	height: 300px;
}

.messageFormWrap .userSubmitButton {
	border: 0px;
	background-color: #993300;
	color: #FFFFFF;
	box-sizing: border-box;
	padding: 10px;
	text-decoration: none;
	display: block;
	border-radius: 5px;
	border-bottom: 5px solid #FFC7AF;
	margin-top: 0px;
	transition-duration: 0.2s;
	width: 100px;
	margin-top: 30px;
}

.messageFormWrap .userSubmitButton:hover {
	margin-top: 33px;
	border-bottom: 2px solid #FFC7AF;
}

footer {
	margin-top: 30px;
}

.checkLengthBox {
	margin: 0;
	text-align: right;
}
</style>
