<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新規登録</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap"
	rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<script type="text/javascript" th:src="@{/js/user.js}"></script>

</head>
<body>
	<div th:replace="common :: header"></div>

	<main>
	<div class="breadcrumb">
		<div class="inner">
			<ul>
				<li><a th:href="@{'/treeMouth'}">Home</a></li>
				<li>新規登録</a></li>
			</ul>
		</div>
	</div>
	<div class="inner">
		<h2>新規登録</h2>
		<table>
			<tr th:if="${validationError}" th:each="error : ${validationError}">
				<td style="color: red;" th:text="${error}"></td>
			</tr>
		</table>
		<div class="userFormWrap">
			<form method="post" action="/signUp" th:object="${formModel}">
				<div>
					<p class="title">アカウント</p>
					<input type="text" name="account" class="textBox"
						th:value="*{account}"
						onkeyup="showLength(value,' accountBox',6,20)" />
					<p class="accountBox checkLengthBox" style="color: red">0/20</p>
				</div>
				<div>
					<p class="title">パスワード</p>
					<input type="password" name="password" class="textBox"
						th:value="*{password}"
						onkeyup="showLength(value,' passwordBox',6,20)" />
					<p class="passwordBox checkLengthBox" style="color: red">0/20</p>
				</div>
				<div>
					<p class="title">確認用パスワード</p>
					<input type="password" name="checkPassword" class="textBox" />
				</div>
				<div>
					<p class="title">名前</p>
					<input type="text" name="name" th:value="*{name}" class="textBox"
						onkeyup="showLength(value,' nameBox',1,10)" />
					<p class="nameBox checkLengthBox" style="color: red">0/10</p>
				</div>

				<div>
					<p class="title">支店</p>
					<select id="brancheId" name="brancheId" th:value="*{brancheId}"
						class="selectBox">
						<option th:each="branche : ${brancheData}"
							th:value="${branche.id}"
							th:selected="${branche.id }==*{ brancheId}"
							th:text="${branche.name}"></option>
					</select>
				</div>
				<div>
					<p class="title">部署</p>
					<select id="departmentId" name="departmentId"
						th:value="*{departmentId}" class="selectBox">
						<option th:each="department : ${departmentData}"
							th:selected="${department.id} == *{departmentId}"
							th:value="${department.id}" th:text="${department.name}"></option>
					</select>
				</div>
				<input type="hidden" name="isStopped" th:value=0 /> <input
					type="hidden" name="id" th:value="*{id}" /> <input type="submit"
					value="登録" class="userSubmitButton" />
			</form>
		</div>
	</div>
	</main>
	<div th:replace="common :: footer"></div>

</body>
</html>