<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TreeMouth</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
<link
	href="https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap"
	rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" th:src="@{/js/user.js}"></script>

</head>
<body>
	<div th:replace="common :: header"></div>

	<div class="searchFormWrap">
		<form action="date" method="post">
			カテゴリー検索：<input type="text" name="searchCategory" th:value="${searchCategory}" />
			日付：<input type="date" name="startDate" th:value="${startDate}">～ <input type="date"
				name="endDate" th:value="${endDate}">
			<button type="submit">
				<i class="fas fa-search"></i>検索
			</button>
		</form>
	</div>
	<th:block th:if="${#session}!=null">
		<th:block th:if="${#session.getAttribute('errorList')}!=null">
			<div class="errorMessages">
				<th:block id="errorMessage" name="errorMessage">
					<p th:each="errorMessage : ${#session.getAttribute('errorList')}"
						th:text="${errorMessage}"></p>
				</th:block>
			</div>
		</th:block>
		<th:block th:text="${#session.removeAttribute('errorList')}">
		</th:block>
	</th:block>


	<div th:each="message : ${messages}" class="message">
		<div class="dateUser">
			<p th:text="${message.createdDate}" class="date"></p>
			<th:block th:each="user : ${users}">
				<th:block th:if="${message.userId == user.id}">
					<p th:text="${user.name}" class="user"></p>
				</th:block>
			</th:block>
		</div>


		<p th:text="${message.title}" class="title"></p>
		<th:block th:if="${message.text}">
			<th:block
				th:each="str, stat : ${message.text.split('\r\n|\r|\n', -1)}">
				<div th:text="${str}" class="text"></div>
			</th:block>
		</th:block>


		<p th:text="${message.category}" class="category"></p>
		<div
			th:if="${message.userId == #session.getAttribute('loginUser').id}">
			<form
				th:action="@{/deleteMessage/{messageId}(messageId=${message.id})}"
				th:method="delete">
				<input type="submit" value="削除" class="messageDelete far" onClick="return confirm('本当に削除しますか？')">
			</form>
		</div>
		<hr>
		<th:block th:each="comment : ${comments}">
			<div th:if="${comment.messageId == message.id} ">
				<div class="comment">
					<div class="dateUser">
						<p th:text="${comment.updatedDate}" class="date commentDate"></p>
						<th:block th:each="user : ${users}">
							<th:block th:if="${comment.userId == user.id}">
								<p th:text="${user.name}" class="user"></p>
							</th:block>
						</th:block>
					</div>
					<th:block th:if="${comment.text}">
						<th:block
							th:each="str, stat : ${comment.text.split('\r\n|\r|\n', -1)}">
							<div th:text="${str}" class="title commentTitle"></div>
						</th:block>
					</th:block>

					<th:block
						th:if="${comment.userId == #session.getAttribute('loginUser').id}">
						<form
							th:action="@{/deleteComment/{commentId}(commentId=${comment.id})}"
							th:method="delete">
							<input type="submit" value="削除" onClick="return confirm('本当に削除しますか？')"
								class="far commentDeleteBtn">
						</form>
					</th:block>
				</div>
			</div>
		</th:block>
		<form action="/comment" method="post">
			<input type="hidden" name="userId" th:value="${message.userId}" /> <input
				type="hidden" name="messageId" th:value="${message.id}" />
			<textarea type="text" name="text" th:value="${text}"
				class="commentTextArea"></textarea>
			<input type="submit" value="コメントする" class="userSubmitButton" />
		</form>

	</div>

	<div th:replace="common :: footer"></div>

</body>
</html>