<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>[<th:block th:text="${formModel.name}" />]の編集</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
<link
	href="https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap"
	rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<script type="text/javascript" th:src="@{/js/user.js}"></script>

</head>
<body
	th:onLoad="inputLength('[[${formModel.account}]]','[[${formModel.name}]]');">



	<div th:replace="common :: header"></div>
	<div class="breadcrumb">
		<div class="inner">
			<ul>
				<li><a th:href="@{'/treeMouth'}">Home</a></li>
				<li><a th:href="@{'/treeMouth/user'}">ユーザー一覧</a></li>
				<li>[<span th:text="${formModel.name}"></span>]の編集
				</li>
			</ul>
		</div>
	</div>
	<div class="inner">
		<h2>
			[<span th:text="${formModel.name}"></span>]の編集
		</h2>
		<table>
			<tr th:if="${validationError}" th:each="error : ${validationError}">
				<td style="color: red;" th:text="${error}"></td>
			</tr>
		</table>
		<div class="userFormWrap">
			<form method="post" action="/userEdit" th:object="${formModel}"
				id="userForm">
				<div>
					<p class="title">アカウント</p>
					<input type="text" name="account" th:value=" *{account}"
						class="textBox inputAccountBox"
						onkeyup="showLength(value,' accountBox',6,20)" />
					<p class="accountBox checkLengthBox" style="color: red"></p>

				</div>
				<div>
					<p class="title">パスワード</p>
					<input type="password" name="password"
						class="textBox inputPasswordBox"
						onkeyup="showLength(value,' passwordBox',6,20)" />
					<p class="passwordBox checkLengthBox" style="color: red">0/20</p>

				</div>
				<div>
					<p class="title">確認用パスワード</p>
					<input type="password" name="checkPassword" class="textBox" />
				</div>
				<div>
					<p class="title">名前</p>
					<input type="text" name="name" th:value="*{name}"
						class="textBox inputNameBox"
						onkeyup="showLength(value,' nameBox',1,10)" />
					<p class="nameBox checkLengthBox" style="color: red">0/10</p>
				</div>
				<th:block th:if="${#session.getAttribute('loginUser').id}==*{id}">
					<div>
						<p class="title">支店</p>
						<select id="brancheId" name="brancheId" th:value="*{brancheId}"
							class="selectBox" disabled>
							<option th:each="branche : ${brancheData}"
								th:value="${branche.id}"
								th:selected="${branche.id }==*{ brancheId}"
								th:text="${branche.name}"></option>
						</select>
					</div>
					<div>
						<p class="title">部署</p>
						<select id="departmentId" name="departmentId"
							th:value="*{departmentId}" class="selectBox" disabled>
							<option th:each="department : ${departmentData}"
								th:selected="${department.id} == *{departmentId}"
								th:value="${department.id}" th:text="${department.name}"></option>
						</select>
					</div>
				</th:block>
				<th:block th:if="${#session.getAttribute('loginUser').id}!=*{id}">
					<div>
						<p class="title">支店</p>
						<select id="brancheId" name="brancheId" th:value="*{brancheId}"
							class="selectBox">
							<option th:each="branche : ${brancheData}"
								th:value="${branche.id}"
								th:selected="${branche.id }==*{ brancheId}"
								th:text="${branche.name}"></option>
						</select>
					</div>
					<div>
						<p class="title">部署</p>
						<select id="departmentId" name="departmentId"
							th:value="*{departmentId}" class="selectBox">
							<option th:each="department : ${departmentData}"
								th:selected="${department.id} == *{departmentId}"
								th:value="${department.id}" th:text="${department.name}"></option>
						</select>
					</div>
				</th:block>
				<input type="hidden" name="isStopped" th:value=0 /> <input
					type="hidden" name="id" th:value="*{id}" /> <input type="submit"
					value="登録" class="userSubmitButton" />
			</form>
		</div>
	</div>
	<div th:replace="common :: footer"></div>

</body>
</html>

<script>
	const form = document.getElementById('userForm');
	form.addEventListener('submit', event =>
	    event.target.querySelectorAll("input:disabled, select:disabled")
	        .forEach(e => e.disabled = false)
	);
</script>

