<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ユーザー一覧</title>

<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap"
	rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" th:src="@{/js/user.js}"></script>


</head>
<body>
	<div th:replace="common :: header"></div>
	<div class="breadcrumb">
		<div class="inner">
			<ul>
				<li><a th:href="@{'/treeMouth'}">Home</a></li>
				<li>ユーザー一覧</a></li>
			</ul>
		</div>
	</div>
	<div class="inner">

		<h2>ユーザー一覧</h2>
		<table>
			<tr th:if="${errorMessages!=null}" th:each="error : ${errorMessages}">
				<td style="color: red;" th:text="${error}"></td>
			</tr>
		</table>
		<th:block th:if="${#session}!=null">
			<th:block th:if="${#session.getAttribute('errorList')}!=null">
				<div class="errorMessages">
					<th:block id="errorMessage" name="errorMessage">
						<p th:each="errorMessage : ${#session.getAttribute('errorList')}"
							th:text="${errorMessage}"></p>
					</th:block>
				</div>
			</th:block>
			<th:block th:text="${#session.removeAttribute('errorList')}">
			</th:block>
		</th:block>
		<table>
			<tr class="top">
				<th>id</th>
				<th>アカウント</th>
				<th>名前</th>
				<th>支店</th>
				<th>部署</th>
				<th>有効無効</th>
				<th>編集</th>
			</tr>

			<tr th:each="user : ${users}">
				<th th:text="${user.id}"></th>
				<th th:text="${user.account}"></th>
				<th th:text="${user.name}"></th>
				<th th:text="${user.branche.name}"></th>

				<th th:text="${user.department.name}"></th>

				<th:block th:if="${user.isStopped == 0}">
					<th><a
						th:href="@{/treeMouth/stopUser/{uerId}(uerId=${user.id})}"
						class="stopButton" onClick="return confirm('本当に停止しますか？')">停止</a></th>
				</th:block>
				<th:block th:if="${user.isStopped == 1}">
					<th><a
						th:href="@{/treeMouth/startUser/{uerId}(uerId=${user.id})}"
						class="startButton" onClick="return confirm('本当に再開しますか？')">復活</a></th>
				</th:block>

				<th><a
					th:href="@{/treeMouth/user/edit/{uerId}(uerId=${user.id})}"><i
						class="fas fa-edit"></i>編集 </a></th>
			</tr>
		</table>

	</div>

	<div th:replace="common :: footer"></div>

</body>
</html>


<style>
table {
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

tr:hover {
	background-color: #FFE4E1;
}

th {
	padding: 10px 20px;
	border-bottom: 1px dotted red;
}

.top th {
	background-color: pink;
}
</style>