<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<header th:fragment="header">
		<div class="inner">
			<h1>
				<a th:href="@{'/'}">TreeMouth</a>
			</h1>
			<ul class="headerMenu">
				<!-- <li th:if="${#session}!=null"><span
					th:text="${#session.getAttribute('loginUser').name}"></span>様</li>-->
				<li><a th:href="@{'/user'}">ユーザー管理</a></li>
				<li><a th:href="@{'/signUp'}">ユーザー新規登録</a></li>

				<li th:if="${#session}==null"><a th:href="@{'login'}"
					class="headerButton">ログイン</a></li>

				<li th:if="${#session}!=null"><a th:href="@{'/logout'}"
					class="headerButton">ログアウト</a></li>
			</ul>

		</div>
	</header>
	<footer th:fragment="footer">
		<p>CopyRight</p>
	</footer>

</body>
</html>