<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

</head>
<body>
	<div th:replace="common :: header"></div>
	<h2>ログイン</h2>
	<div class="errorMessages">
		<ul id="errorMessage" name="errorMessage">
			<li th:each="errorMessage : ${errorMessages}"
				th:text="${errorMessage}"></li>
		</ul>
	</div>
	<form method="post" action="/login" th:object="${formModel}">
		<div>
			アカウント <input type="text" name="account" th:value="*{account}" />
		</div>
		<div>
			パスワード <input type="password" name="password" th:value="*{password}" />
		</div>
		<input type="submit" value="ログイン" />
	</form>

	<div th:replace="common :: footer"></div>

</body>
</html>