<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

</head>
<body>
	<div th:replace="common :: header"></div>

	<main>
	<div class="">
		<h2>新規登録</h2>
		<table>
			<tr th:if="${validationError}" th:each="error : ${validationError}">
				<td style="color: red;" th:text="${error}"></td>
			</tr>
		</table>
		<form method="post" action="/signUp" th:object="${formModel}">
			<div>
				アカウント <input type="text" name="account" th:value="*{account}" />
			</div>
			<div>
				パスワード <input type="password" name="password" th:value="*{password}" />
			</div>
			<div>
				名前 <input type="text" name="name" th:value="*{name}" />
			</div>

			<div>
				支店 <select id="brancheId" name="brancheId" th:value="*{brancheId}">
					<option th:each="branche : ${brancheData}" th:value="${branche.id}"
						th:text="${branche.name}"></option>
				</select>
			</div>
			<div>
				部署 <select id="departmentId" name="departmentId"
					th:value="*{departmentId}">
					<option th:each="department : ${departmentData}"
						th:value="${department.id}" th:text="${department.name}"></option>
				</select>
			</div>
			<input type="hidden" name="isStopped" th:value=0 /> <input
				type="hidden" name="id" th:value="*{id}" /> <input type="submit"
				value="登録" />
		</form>
	</div>
	</main>
	<div th:replace="common :: footer"></div>

</body>
</html>