<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

</head>
<body>
	<div th:replace="common :: header"></div>




	<div th:replace="common :: footer"></div>

</body>
</html>