<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

</head>
<body>
	<div th:replace="common :: header"></div>
	<main>
	<h2>ユーザー一覧</h2>
	<table>
		<tr class="top">
			<th>id</th>
			<th>アカウント</th>
			<th>名前</th>
			<th>支店</th>
			<th>部署</th>
			<th>有効無効</th>
			<th>編集</th>
		</tr>
		<tr th:each="user : ${users}">
			<th th:text="${user.id}"></th>
			<th th:text="${user.account}"></th>
			<th th:text="${user.name}"></th>
			<th th:text="${user.branche.name}"></th>

			<th th:text="${user.department.name}"></th>

			<th:block th:if="${user.isStopped == 0}">
				<th><a th:href="@{/stopUser/{uerId}(uerId=${user.id})}"
					class="stopButton">使用可</a></th>
			</th:block>
			<th:block th:if="${user.isStopped == 1}">
				<th><a th:href="@{/startUser/{uerId}(uerId=${user.id})}"
					class="startButton">停止中</a></th>
			</th:block>

			<th><a th:href="@{/user/edit/{uerId}(uerId=${user.id})}"> 編集
			</a></th>
		</tr>
	</table>

	</main>

	<div th:replace="common :: footer"></div>

</body>
</html>


<style>
table {
	margin: 0 auto;
	padding-top: 10px;
}

th {
	padding: 10px;
	border-bottom: 1px dotted red;
}

.top th {
	background-color: pink;
}
</style>